.product-card {
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    width: calc(33.333% - 20px);
    box-shadow: 0 2px 4px #0000001a;
    .product-image {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    .product-info {
      h3 {
        margin: 10px 0;
      }
      .view-product-btn {
        display: inline-block;
        background-color: #0000ff;
        color: #ffffff;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 10px;
      }
    }
  }
  